<div class="accountForm__container">
  <div class="accountForm__headerText">
    アカウントを作成
  </div>

  <%= form_with model: @user, url: user_registration_path, local: true, class: "accountForm__form" do |f| %>
    <!-- 名前 -->
    <div class="accountForm__field">
      <%= f.label :nickname, class: "accountForm__label" do %>
        名前を入力してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.text_field :nickname, class: "accountForm__input", id: "nickname" %>
      <% if @user.errors[:nickname].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:nickname].first %></span>
      <% end %>
    </div>

    <!-- メールアドレス -->
    <div class="accountForm__field">
      <%= f.label :email, class: "accountForm__label" do %>
        メールアドレスを入力してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.email_field :email, class: "accountForm__input", id: "email" %>
      <% if @user.errors[:email].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:email].first %></span>
      <% end %>
    </div>

    <!-- 性別 -->
    <div class="accountForm__field">
      <%= f.label :gender_id, class: "accountForm__label" do %>
        性別を選択してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.collection_select :gender_id, Gender.all, :id, :name, { prompt: "--選択してください--" }, { class: "accountForm__input accountForm__selectBox" } %>
      <% if @user.errors[:gender_id].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:gender_id].first %></span>
      <% end %>
    </div>

    <!-- 年齢 -->
    <div class="accountForm__field">
      <%= f.label :age_group_id, class: "accountForm__label" do %>
        年齢を選択してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.collection_select :age_group_id, AgeGroup.all, :id, :name, { prompt: "--選択してください--" }, { class: "accountForm__input accountForm__selectBox" } %>
      <% if @user.errors[:age_group_id].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:age_group_id].first %></span>
      <% end %>
    </div>

    <!-- パスワード -->
    <div class="accountForm__field">
      <%= f.label :password, class: "accountForm__label" do %>
        パスワードを入力してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.password_field :password, class: "accountForm__input", id: "password", placeholder: "6文字以上の半角英数字" %>
      <% if @user.errors[:password].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:password].first %></span>
      <% end %>
    </div>

    <!-- 確認用パスワード -->
    <div class="accountForm__field">
      <%= f.label :password_confirmation, class: "accountForm__label" do %>
        確認用パスワードを入力してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.password_field :password_confirmation, class: "accountForm__input", id: "password-confirmation" %>
      <% if @user.errors[:password_confirmation].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:password_confirmation].first %></span>
      <% end %>
    </div>

    <!-- プロフィール画像 -->
    <div class="accountForm__field">
      <%= f.label :profile_image, class: "accountForm__label" do %>
        プロフィール画像を選択してください
        <span class="indispensable">必須</span>
      <% end %>
      <%= f.file_field :profile_image, class: "accountForm__input", id: "profile-image" %>
      <% if @user.errors[:profile_image].present? %>
        <span class="accountForm__errorText"><%= @user.errors[:profile_image].first %></span>
      <% end %>
    </div>

    <!-- 提出ボタン -->
    <div class="accountForm__actions">
      <%= f.submit "アカウントを作成する", class: "accountForm__submitButton" %>
    </div>
  <% end %>

  <!-- ログインリンク -->
  <div class="accountForm__actions">
    <%= link_to "既にアカウントをお持ちの方はこちら", new_user_session_path, class: "accountForm__backButton" %>
  </div>
</div>
