<%= render 'shared/header' %>

<div class="usersIndex__container">
  <div class="usersIndex__card">
    <div class="usersIndex__profileImageWrapper">
      <%= image_tag @user.profile_image, class: "usersIndex__profileImage" %>
    </div>
    <div class="usersIndex__details">
      <div class="usersIndex__field">
        <span class="usersIndex__label">名前</span>
        <span class="usersIndex__value"><%= @user.nickname %></span>
      </div>
      <div class="usersIndex__field">
        <span class="usersIndex__label">性別</span>
        <span class="usersIndex__value"><%= @user.gender.name %></span>
      </div>
      <div class="usersIndex__field">
        <span class="usersIndex__label">年齢</span>
        <span class="usersIndex__value"><%= @user.age_group.name %></span>
      </div>
    </div>
    <div class="usersIndex__editLink">
      <%= link_to 'プロフィールを編集する', edit_user_path(@user), class: "usersIndex__editButton" %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "usersIndex__logoutButton" %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
