<footer class="footer">
  <div class="footer-menu">
    <%= link_to "#", class: "nav-link" do %>
      <img src="https://tourlink.s3.ap-northeast-1.amazonaws.com/home.svg" alt="Home" class="nav-icon">
    <% end %>
    <%= link_to "#", class: "nav-link" do %>
      <img src="https://tourlink.s3.ap-northeast-1.amazonaws.com/chat.svg" alt="Chat" class="nav-icon">
    <% end %>
    <%= link_to new_post_path, class: "NewPostButton" do %>
    <img src="https://tourlink.s3.ap-northeast-1.amazonaws.com/add.svg" alt="新規投稿" class="NewPostButton__icon">
    <% end %>
    <%= link_to "#", class: "nav-link" do %>
      <img src="https://tourlink.s3.ap-northeast-1.amazonaws.com/review.svg" alt="Review" class="nav-icon">
    <% end %>
    <%= link_to "#", class: "nav-link" do %>
      <img src="https://tourlink.s3.ap-northeast-1.amazonaws.com/user.svg" alt="User" class="nav-icon">
    <% end %>
  </div>
</footer>
