<%= render "shared/header" %>

<div class="postShow__container">
  <div class="postShow__authorInfo">
    <%= image_tag @post.user.profile_image.variant(resize_to_fill: [48, 48]), class: "postShow__authorImage" %>
    <span class="postShow__authorName"><%= @post.user.nickname %></span>
</div>

  <div class="postShow__details">
    <table class="postShow__table">
      <tbody>
        <tr>
          <th class="postShow__label">タイトル</th>
          <td class="postShow__value"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="postShow__label">予定日</th>
          <td class="postShow__value"><%= @post.scheduled_date.strftime('%Y年%m月%d日') %></td>
        </tr>
        <tr>
          <th class="postShow__label">バイクジャンル</th>
          <td class="postShow__value"><%= @post.bike_genre.name %></td>
        </tr>
        <tr>
          <th class="postShow__label">排気量</th>
          <td class="postShow__value"><%= @post.engine_capacity.name %></td>
        </tr>
        <tr>
          <th class="postShow__label">都道府県</th>
          <td class="postShow__value"><%= @post.prefecture.name %></td>
        </tr>
        <tr>
        <th class="postShow__label">メモ</th>
          <td class="postShow__value postShow__value--note">
          <%= @post.note.presence || 'メモはありません' %>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <% if user_signed_in? %>
    <% if current_user == @post.user %>
      <div class="postShow__actions">
        <%= link_to "編集する", edit_post_path(@post), class: "postShow__editButton", data: { turbo: false } %>
        <%= link_to "削除する", post_path(@post), data: { turbo_method: :delete }, class: "postShow__deleteButton" %>
      </div>
    <% end %>
  <% end %>

  <div class="postShow__comments">
  <h2 class="postShow__sectionTitle">コメント一覧</h2>
  <% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
      <% if comment.persisted? %>
        <div class="postShow__comment">
          <p>
            <% if comment.user.profile_image.attached? %>
              <%= image_tag comment.user.profile_image.variant(resize_to_fill: [32, 32]), class: "postShow__commentImage" %>
            <% else %>
              <%= image_tag "default-profile.png", class: "postShow__commentImage" %>
            <% end %>
            <strong><%= comment.user.nickname %></strong>: <%= comment.content %>
          </p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>コメントはまだありません。</p>
  <% end %>
</div>



  <div class="postShow__commentForm">
    
    <%= javascript_include_tag 'posts_form', 'data-turbo-track': 'reload' %>
    <%= form_with model: [@post, @comment], local: true do |f| %>
        <%= f.label :content, 'コメント内容', class: "postShow__formLabel" %>
        <%= f.text_area :content, class: "postShow__formControl" %>
        <%= f.submit '投稿する', class: "postShow__submitButton" %>
    <% end %>
    <% if @comment.errors[:content].present? %>
        <span class="postsEdit__errorText"><%= @comment.errors[:content].first %></span>
      <% end %>
  </div>

  <div class="postShow__backLink">
    <%= link_to "投稿一覧に戻る", posts_path, class: "postShow__backButton" %>
  </div>
</div>

<%= render "shared/footer" %>
